:root {
  --dark: #013f66;
  --raisin-black: #262730;
  --eton-blue: #77BA99;
  --emerald: #50c878;
  --red: #dd001a94;
}

.cart-background {
  font-family: Baskerville, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  color: var(--raisin-black);
}

.cart-background h3 {
  color: var(--dark);
}

.shopping-cart {
  min-width: 300px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 5%;
  gap: 18px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-header button {
  font-size: 1rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: #013f66 solid 1px;
}

.item-card {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 10px 15px 15px;
  border-radius: 10px;
  border: solid .5px rgb(240, 240, 240);

}

.item-card img {
  padding: 35px;
  width: 100px;
  background-color: #f0f0f0a9;
  border-radius: 15px;
  opacity: .7;
}

.img-quantity {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.name-price {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.item-quantity {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  overflow: hidden;
  border-radius: 5px;
  background-color: #eeeeee7c;
}

.item-quantity span {
  padding: 5px 10px;
}

.item-quantity button {
  gap: 5px;
  padding: 5px;
  border: #eeeeee solid 1px;
  border-radius: 5px;
  font-size: .7rem;
}

.item-name {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 15px;
}

.remove-name-price {
  display: flex;
  flex-direction: column;
}

.item-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
  margin-top: auto;
  align-self: flex-end;
}

.remove-item-button {
  margin-left: auto;
  color: var(--red);
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 5px;
}

.total {
  display: flex;
  gap: 8px;
  margin-left: auto;
  align-items: flex-end;
}

.total-quantity {
  font-size: .9rem;
}

.total-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-buttons button {
  padding: 8px 20px;
  border-radius: 5px;
}

#cancel-button {
  background-color: var(--red);
}

#checkout-button {
  background-color: var(--dark);
}

.total button {
  border-radius: 8px;
  padding: 10px;
  background-color: green;
}