:root {
  --dark: #013f66;
  --raisin-black: #262730;
  --red: #dd001a94;
}

.cart-background {
  font-family: Baskerville, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  color: var(--raisin-black);
}

.cart-background h3 {
  color: var(--dark);
}

.shopping-cart {
  min-width: 290px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 18px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-header button {
  font-size: 1rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 20px;
  border-bottom: #013f66 solid 1px;
}

.item-card {
  width: 250px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 18px;
  border-radius: 8px;
  border: solid 1px rgb(228, 228, 228);
  box-shadow: rgba(142, 142, 142, 0.35) 0px 0px 3px;
}

.item-card img {
  padding: 35px;
  width: 100px;
  background-color: #f0f0f0a9;
  -webkit-border-radius: 10px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 10px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-radius: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: .7;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 2px; */
  border: #e9e9e9 solid 1px;
}

.img-quantity {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

}

.name-price {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.item-quantity {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  border: #e9e9e9 solid 1px;
}

.item-quantity span {
  flex: 1;
  background-color: #eeeeee7c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: #e9e9e9 solid 1px;
  border-right: #e9e9e9 solid 1px;

}

.item-quantity button {
  padding: 8px;
  /* border: #eeeeee solid 1px; */
  background-color: #eeeeee7c;
  font-size: .7rem;
}

/* .add-quantity {
  -webkit-border-radius: 5px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomright: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 10px;
}

.decrease-quantity {
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 10px;
} */


.remove-name-price {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  max-width: 120px;
  align-self: flex-end;
}

.item-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
  margin-top: auto;
  align-self: flex-end;
  margin-right: -10px;
}

.remove-item-button {
  margin-left: auto;
  margin-right: -10px;
  margin-top: -10px;
  color: var(--red);
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 5px;
}

.total {
  display: flex;
  gap: 8px;
  margin-left: auto;
  align-items: flex-end;
  padding-left: 18px;
}

.total-quantity {
  font-size: .85rem;
}

.total-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 7px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-buttons button {
  padding: 8px 20px;
  border-radius: 3px;
}

#cancel-button {
  background-color: var(--red);
}

#checkout-button {
  background-color: var(--dark);
}

.total button {
  border-radius: 8px;
  padding: 10px;
  background-color: green;
}