:root {
  --dark: #013f66;
  --raisin-black: #262730;
  --eton-blue: #77BA99;
  --emerald: #50c878;
  --red: #dd001a;
}

.cart-background {
  font-family: Baskerville, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  color: var(--raisin-black);
}

.cart-background h3 {
  color: var(--dark);
}

.shopping-cart {
  /* width: 400px; */
  /* height: 500px; */
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 5%;
  gap: 20px;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-header button {
  font-size: 1rem;

}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: #013f66 solid 1px;
}

.item-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.item-card img {
  padding: 35px;
  width: 100px;
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: .7;
}

.item-card>div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between
}

.img-quantity {
  align-self: center;
}



.name-price {}

.item-quantity {
  display: flex;
  gap: 5px;
  padding: 5px;
  border: #eeeeee solid .5px;
  border-radius: 5px;
  justify-content: space-evenly;
  font-size: 1rem;
  flex: 2
}

.trial {
  padding-left: 10px;
  border-left: #013f6662 solid 1px;
}

.item-quanity-remove {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-evenly
}

.item-quantity button {
  font-size: .8rem;
  border: 1px black solid;
}


.item-name {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
}


.item-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
  align-self: flex-end;
}

.remove-item-button {
  color: var(--red);
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.total {
  display: flex;
  gap: 8px;
  margin-left: auto;
}


.footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-buttons button {
  padding: 8px 20px;
  border-radius: 5px;
}

#cancel-button {
  background-color: var(--red);
}

#checkout-button {
  background-color: var(--dark);
}

/* .modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
} */

/* .titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
} */

/* #cancelBtn {
  background-color: crimson;
} */

.total button {
  border-radius: 8px;
  padding: 10px;
  background-color: green;
}